@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  --scrollbar-compensation: 0px;
  --header-height: 0px;
}
body {
  min-height: 100vh;
  padding-right: calc(var(--scrollbar-compensation) - (100vw - 100%));
  font-family: 'Roboto', sans-serif;
  background-color: var(--cl-bg);
  color: var(--cl-text);
}

.no-scroll {
  overflow-y: hidden;
}

.container {
  max-width: $container-max-width;
  width: 100%;
  margin: 0 auto;
}

.main {
  padding: $padding-v $padding-h;
  padding-top: calc(var(--header-height) + $padding-v);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1 {
  font-size: 2rem;
  margin-bottom: $gap-base * 2;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: $gap-base * 1.5;
}

h3 {
  font-size: 2rem;
  color: var(--cl-title);
}

p {
  margin-bottom: $gap-base;
}

//loader contains styles to create a sceleton-loader and images lazy loading
.loader {
  background-color: var(--cl-hover);
  animation: shine 3s linear infinite forwards;
  animation-delay: calc(var(--idx, 0) * 300ms);
}

@keyframes shine {
  0%,
  100% {
    filter: brightness(100%);
  }

  50% {
    filter: brightness(75%);
  }
}

.img-lazy-load {
  img {
    transition: opacity $animation;
  }
}

.img-loading {
  @extend .loader;

  img {
    transition-duration: 0s;
    opacity: 0;
  }
}
